.post-topic {
    margin: 0 4px;
} 


.home{

    display: grid;
    align-content: space-around;
    justify-items: center;
    height: 300px;
    background-color: skyblue;

}
body {
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

.app {
    margin-top: 2rem;
    display: grid;
    justify-items: center;
}